html, body {
  border-radius: 40px;
  
  line-height: 1.8;
}

popup-content {
  border-radius: 25;
}

.hidden {
  display: none;
}

li {
    margin-bottom: 5px;
}

.button {
  margin: 3% auto;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
}

div {
  font-family: "Arial", Arial, Sans-serif;
}

summary {
    line-height: 1.8;
    font-size: 1.6;
    font-weight: bold;
    font-family: "Arial", Arial, Sans-serif;
}

h1 {
  font-family: "Arial", Arial, Sans-serif;
  font-size: 4.5;
  font-weight: bold;
  text-decoration: none;
  line-height: 1;
  border-bottom: 10px solid #000
  padding-bottom: 1px.
}



.xline{
  width: 130px;
  height: 35px;
  border-bottom: 5px solid black;
  position: absolute;
}

.left {
  text-align: left;
  font-style: oblique;
  font-weight: 500;
}

.right {
   text-align: left;
}

b {
    font-family: "Arial", Arial, Sans-serif;
    font-size: 3.5;
    line-height: 1.8;

}

p {
    font-family: "Arial", Arial, Sans-serif;
    line-height: 0.1;
}


.beast:hover {
  background-color: #CFF2F2;
}

.beast {
  background-color: #E5F2F2;
}

.reset {
  background-color: #FBFBC9;
}

.reset:hover {
  background-color: #EAEA9D;
}

.panel {
  padding: 5px;
}
